router bgp 65001
bgp router-id 10.0.1.10
network 0.0.0.0/0
network 10.0.0.0/13
neighbor 10.0.2.4 remote-as 65515
neighbor 10.0.2.4 ebgp-multihop
neighbor 10.0.2.4 soft-reconfiguration inbound
neighbor 10.0.2.4 route-map in-region out
neighbor 10.0.2.5 remote-as 65515
neighbor 10.0.2.5 ebgp-multihop
neighbor 10.0.2.5 soft-reconfiguration inbound
neighbor 10.0.2.5 route-map in-region out
neighbor 10.8.1.10 remote-as 65002
neighbor 10.8.1.10 ebgp-multihop
neighbor 10.0.1.10 route-map out-region out
neighbor 10.0.1.10 soft-reconfiguration inbound
neighbor 10.0.1.20 remote-as 65002
neighbor 10.8.1.20 ebgp-multihop
neighbor 10.0.1.20 route-map out-region out
neighbor 10.0.1.20 soft-reconfiguration inbound
!
address-family ipv6
exit-address-family
exit
!
route-map in-region permit 10
  match ip address prefix-list in-region
  set ip next-hop 10.0.1.100
route-map out-region permit 20
  match ip address prefix-list out-region
  set ip next-hop 10.0.1.100
!
ip prefix-list in-region permit 0.0.0.0/0
ip prefix-list in-region deny 0.0.0.0/0 le 32
ip prefix-list out-region permit 10.0.0.0/13
ip prefix-list out-region deny 0.0.0.0/0 le 32
!
log file /var/log/quagga/quagga.log
!
line vty
!